<div>
	<label>Enter in a new todo: </label> {{input type="text" id="new-todo" placeholder="Enter a new todo" value=newTodo insert-newline=keyPress}}
</div>

<ul>
	{{#each todos as |singleTodo|}}
		<li>{{single-todo todoModel=singleTodo todoListModel=todos}}  </li>
	{{/each}}
</ul>