ul.todoListStyle{
	list-style: none;	
}

ul.todoListStyle > li{
	padding-bottom: 1em;
}

div.displayChildTodo{
	border-left: 2px outset;
	padding-top: 0.2em;
}

div.displayTodoMainSection > a.styleMinimizeButton{
	display: inline-block;
	font-size: 2em;
	height: 1em;
	width: 1em;
	text-align: center;
}

input.todoTextEditing{
	border:none;
	padding:0;
	cursor: default;
	font-size: 0.9em;
}

input.todoTextEditing:oninput,
input.todoTextEditing:onfocus{
	border: none;
}

div.displayTodoMainSection > div.displayTodoText{
	font-size: 1.5em;
}

div.displayTodoMainSection > div.displayTodoText > 
div.todoEditAutofocus{
	display: inline-block;
}